td {
    border-right: 100px solid transparent;
}


div table {
    background-color: yellow;
    margin-left: 10px ;
    margin-right: 10px; 
}

table label {
    font-weight: bold;
}

fieldset {
    width: 33%;
}

.Button {
    width: 33%;
    text-align: center;
    margin-top: 10px;
}