div {
    border: 1px solid black;
    background-color:black;

}

.menu li {
    display:inline-block;
    margin-right: 20px;
}
.menu ul {
    background-color: black;
    background-size:contain;
}
.menu a {
   color: white;
   text-decoration: none;
}
